header
  height 100%
  border-bottom 1px solid #ddd
  font-family  Montserrat
  
.navbar .menu
  width 100%
  text-align right

.navbar .menu .menu-item
  margin 0 5px

.navbar .menu .active
  font-weight 900
  color $navbar-active-color

.header-logo
  position absolute
  top 10px
  height 94px
  width 94px

.header-logo a
  display inline-block
  height 94px
  width 94px
  
.header-logo img
  height 94px
  width 94px
  -webkit-border-radius 100%
  border-radius 100%
  -webkit-box-shadow 0 0 0 1px #ddd
  box-shadow 0 0 0 1px #ddd
  margin 0 auto
  -webkit-transition all ease 0.4s
  -moz-transition all ease 0.4s
  -o-transition all ease 0.4s
  transition all ease 0.4s
  cursor pointer
  background-color white
  &:hover
    position relative
    -webkit-transform rotate(-20deg)
    -moz-transform rotate(-20deg)
    -ms-transform rotate(-20deg)
    -o-transform rotate(-20deg)
    transform rotate(-20deg)
    cursor pointer
